/* 
Google Fonts Used -
font-family: 'Roboto', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif; /* base font is roboto */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif; /* heading font is poppins */
}



/* If screen size is more than 320px wide */
/* @media screen and (min-width: 320px) {} */

/* If screen size is more than 768px wide */
@media screen and (min-width: 768px) {}

/* If screen size is more than 1024px wide */
@media screen and (min-width: 1024px) {}


/* Float Clearfix */
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}